.hide{
    display:none;
  }

#hide {
    width: 50%;
        height: 50%;
        z-index: 10;
        position: absolute;
  margin: 0 0 0 0;
  left: 25%;
  top: 25%;
        /* background-color: white; */
        font-size: 100%;
        font-weight: 600;
        opacity: 0.95;
}
